<div class="container py-5">
    <div class="card">
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Total Keys</th>
                        <th>Playlist</th>
                        <th>Account Created</th>
                        <th>Account Status</th>
                    </tr>
                </thead>
                <tbody class="table-body">
                    <tr>
                        <td>Jovillene</td>
                        <td>5</td>
                        <td>6</td>
                        <td>January 2, 2021</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Efraim</td>
                        <td>5</td>
                        <td>6</td>
                        <td>January 2, 2021</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Jeremicah</td>
                        <td>5</td>
                        <td>6</td>
                        <td>January 2, 2021</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Janrev</td>
                        <td>5</td>
                        <td>6</td>
                        <td>January 2, 2021</td>
                        <td>Active</td>
                    </tr>
                    <tr>
                        <td>Arlon</td>
                        <td>5</td>
                        <td>6</td>
                        <td>January 2, 2021</td>
                        <td>Active</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
