<div class="container-fluid my-4">
    <div class="align-items-center d-flex">
        <div class="img-1 col-lg-2 text-center ">
            <img class="" src="assets/images/user.jpg">
        </div>
        <div class="col-lg-10"> 
            <div class="user-info">
                <h1>Ben Johnson</h1>
                <span> <a href="http://www.gmail.com" style="color: rgb(83, 83, 255)"> benjohnson@gmail.com</a> &nbsp;&nbsp;&nbsp;&nbsp; * &nbsp;&nbsp;&nbsp;&nbsp; 0999-877-3102 &nbsp;&nbsp;&nbsp;&nbsp; * &nbsp;&nbsp;&nbsp;&nbsp; www.benjohnson.com</span>
            </div>
            <table class="table">
                <thead>
                    <tr class="main-table">
                        <th>Exam</th>
                        <th>Status</th>
                        <th>Date</th>
                        <th>Total Score</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="main-table">
                        <td>Phyton and SQL Exam for FT SWE</td>
                        <td>Complete</td>
                        <td>09/05/14</td>
                        <td>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    

</div>