<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th *ngFor="let t of column_title">
                {{ t.title }}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let a of users">
            <td><a [routerLink]="['profile']">{{ a.name }}</a></td>
            <td>{{ a.username }}</td>
            <td>{{ a.email }}</td>
            <td>{{ a.phone }}</td>
            <td>{{ a.address }}</td>
            <td>{{ a.roleDetails[0].role_name }}</td>
        </tr>
    </tbody>
</table>