.rcdt-card {
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    display: flex;
    width: 100%;
    color: #fff;
    text-shadow: 0 3px 6px rgba(0,0,0,0.16);

    div{
        h3{
            color: #fff;
            text-shadow: 0 3px 6px rgba(0,0,0,0.16);
        }
    }

    .cont{
        padding: 20px;

        i{
            font-size: 72px;
            background: -webkit-linear-gradient(#91c3f5, #54868d);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}