@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}

.card{
    width: 500px;
    height: 300px;
    margin: 10px;
    border-radius: 7px;
}