<div class="container">
    <h1>{{ test }}</h1>
<hr>
    <div class="infos">
        <form [formGroup]="key_gen_form" (ngSubmit)="onGenKeyFormSubmit()">
            <div class="inputs form-group">
                <label class="label" for="name">Select User</label>
                <select class="mdb-select md-form form-control" formControlName="name" required searchable="Search here..">
                    <option value="" disabled selected>Select User</option>
                    <option *ngFor="let r of user_name" [value]="r._id">{{ r.name }}</option>
                </select>
            </div>
            <div class="inputs form-group">
                <label class="label" for="key">Keys to add</label>
                <input type="number" class="form-control" placeholder="Ex. 4" formControlName="count" required>              
            </div>
            <button class="btn btn-primary">Confirm</button>
        </form>
    </div>
</div>
+
