<div class="container-fluid admin-dashboard-page backgroundmain p-4">
    <div class="container-fluid" *ngIf="key_data">
        <div>
            <h1 class="text-white">Key Holder : <span style="color: rgb(255, 159, 33)">{{ key_data.keyData.advertiser.name }}</span></h1>
            <h2 class="text-white">License Key : <span style="color: rgb(255, 159, 33)">{{ key_data.keyData.key }}</span></h2>
            <h4 class="text-white">Key ID : <span style="color: rgb(255, 159, 33)">{{ key_data.keyData._id }}</span></h4>
        </div>
        <div>
            <button mat-raised-button (click)="openDialog()">Assign Screen</button>
            <button mat-raised-button color="warn" class="mx-2" (click)="pushContents()">Push updates</button>
            <button mat-raised-button color="primary" (click)="assignKey()">Set License Key</button>
        </div>
    
            <div class="secondary-colors bottom-shadows shadows-lg p-3 my-4">
                <h2 class="text-white">Assigned screen Demo</h2>
                <ng-container *ngIf="key_data.screenData">
                    <h4 class="text-white">Screen Name : <span style="color: rgb(255, 159, 33)">{{ key_data.screenData.screen_name }}</span></h4>
                </ng-container>
                <div class="col-md-6 mb-4">
                     <div class="template-demo">
                         <app-screen-demo
                         [zone_playlist]="screen">
                         </app-screen-demo>
                     </div>
                 </div>
             </div>
    </div>
</div>