.sidenav {
    height: 90%;
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    z-index: 999;
    border-radius: 20px;
    margin: 95px 10px 10px 10px;

    ul{
        padding-left: 0;
    }
    .side-links{
       list-style: none;
       padding: 10px 20px;
       transition: 0.3s;
        color: #fff;
       
    }
    .side-links:hover{
        padding-left: 30px;
    }

    i{
        padding-right: 10px;
    }
}

#sidenav .tabs a.active > li {
    background: linear-gradient(to right, #2c3e50, #4ca1af);
    padding-left: 40px;
    color: #fff;
}