<div class="container-fluid p-4">
    <div class="row">
        <h2>Create Screen</h2>
    </div>
    <div class="row">
        <mat-stepper orientation="vertical">
            <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                    <ng-template matStepLabel>Screen Info</ng-template>
                    <ng-template matStepContent>
                        <mat-form-field class="m-2">
                            <mat-label>Screen Name</mat-label>
                            <input matInput type="text" placeholder="Ex. Spaghetti Dessert" formControlName="screen_name" required>
                        </mat-form-field>
                        <mat-form-field class="m-2" *ngIf="options?.length > 0">
                            <mat-label>Select Advertiser</mat-label>
                            <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" placeholder="Select Advertiser">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                <mat-option *ngFor="let name of filteredOptions | async" [value]="name" required>
                                    {{ name.name }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <br>
                        <button mat-button matStepperNext>Next</button>
                    </ng-template>
                </form>
            </mat-step>
            <mat-step>
            <ng-template matStepLabel>Select Template</ng-template>
            <ng-template matStepContent>
                <div class="row py-4">
                    <div class="col-lg-3 text-center" *ngFor="let t of template">        
                            <div class="template-demo">
                                <div class="text-white d-flex align-items-center justify-content-center" *ngFor="let z of t.zones"
                                    [ngStyle]="{
                                    'background': z.background,
                                    'width.%': (z.width/1920)*100,
                                    'height.%': (z.height/1080)*100,
                                    'left.%': (z.position_x/1920)*100,
                                    'top.%': (z.position_y/1080)*100,
                                    'z-index': z.z_index,
                                    'position': 'absolute'
                                    }">
                                    <p>{{z.zone_name}}</p>
                                </div>
                            
                            </div>
                          <button mat-raised-button matStepperNext class="m-2" color="primary"  (click)="onSelectTemplate(t)" required>{{t.template.name | titlecase}}</button>
                    </div>
                </div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </ng-template>
            </mat-step>
            <mat-step>
            <ng-template matStepLabel>Assign Playlist</ng-template>
                <ng-container *ngIf="selected_template">
                    <mat-form-field appearance="fill" class="m-2"*ngFor="let z of selected_template.zones">
                        
                        <mat-label>{{ z.zone_name }}</mat-label>
                        <mat-select (selectionChange)="onPlaylistSelect($event, z)">
                          <mat-option *ngFor="let p of playlist" [value]="p">
                            {{ p.playlist_name }}
                          </mat-option>
                        </mat-select>
                    </mat-form-field>
                </ng-container>
                <br>
            <button mat-button matStepperPrevious>Back</button>
            </mat-step>
        </mat-stepper>
    </div>
</div>
