<div class="container-fluid p-4">
    <div class="row">
        <h2>Create Template</h2>
    </div>
    <div class="row">
        
        <mat-stepper orientation="vertical">
            <mat-step>
            <ng-template matStepLabel>Template Name</ng-template>
            <ng-template matStepContent>
                <mat-form-field>
                    <mat-label>Screen Name</mat-label>
                    <input matInput type="text" class="m-2" placeholder="Ex. Spaghetti Dessert">
                </mat-form-field>
                <br>
                <button mat-button matStepperNext>Next</button>
            </ng-template>
            </mat-step>
            <mat-step>
            <ng-template matStepLabel>Select Template</ng-template>
            <ng-template matStepContent>
                <div class="row py-4">
                    <div class="col-lg-3 text-center" *ngFor="let t of template">        
                            <div class="template-demo">
                                <div class="text-white d-flex align-items-center justify-content-center" *ngFor="let z of t.zones"
                                    [ngStyle]="{
                                    'background': z.background,
                                    'width.%': (z.width/1920)*100,
                                    'height.%': (z.height/1080)*100,
                                    'left.%': (z.position_x/1920)*100,
                                    'top.%': (z.position_y/1080)*100,
                                    'z-index': z.z_index,
                                    'position': 'absolute'
                                    }">
                                    <p>{{z.zone_name}}</p>
                                </div>
                            
                            </div>
                          <button mat-raised-button class="m-2" color="primary">{{t.template.name | titlecase}}</button>
                    </div>
                </div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </ng-template>
            </mat-step>
            <mat-step>
            <ng-template matStepLabel>Assign Playlist</ng-template>
            <p>This content was rendered eagerly</p>
            <button mat-button matStepperPrevious>Back</button>
            </mat-step>
        </mat-stepper>
    </div>
</div>
