

.nav {
    background: linear-gradient(to right top,#ff5757, #a3004c);
    padding: 15px;

    .menu {
        ul {
            margin: 0;
            padding: 0;
            
            li {
                list-style: none;
                color: white;

                a{
                    color: white;
                }
            }
        }
    }
}

