

.nav {
    top: 0;
    position:fixed;
    width: 99%;
    padding: 15px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-bottomright: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: 0 0 0 10px;
    z-index: 999;
    h2{
        color: #fff;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 30px;
    }

    .menu {
        ul {
            margin: 0;
            padding: 0;
            
            li {
                list-style: none;
                color: white;

                a{
                    color: white;
                }
            }
        }
    }
}

