

.search-box{
    i{
        color: linear-gradient(to right, #243B55, #141E30);  /* fallback for old browsers */
    }
}

.search-txt{
    border: 1px solid linear-gradient(to right, #243B55, #141E30);;
    margin: 0 10px;
    border-radius: 50px;
    outline: none;
    padding-left: 10px;
}

.search-txt::placeholder{
    color: linear-gradient(to right, #243B55, #141E30);;
    
}