<h2 mat-dialog-title>Select Media files</h2>
<mat-dialog-content class="mat-typography">
  <!---->
    <div class="col-lg-12">
      <button (click)="uploadContents()">Upload</button>
      <!-- <button (click)="pushContents()">Click me</button> -->
    </div>
   <!---->
    <!-- <div class="row">
      <div class="col-lg-4" *ngFor="let c of card_data_sample">
          <app-card
          [digit]="c.digit"
          [description]="c.description">
          </app-card>
      </div>
    </div> -->
    <!---->
    <div class="card text-white shadow-lg p-3 bg-white">
      <div class="row" [sortablejs]="mediaFiles">
          <div class="col-lg-1" *ngFor="let f of mediaFiles" (click)="selectedFile(f)" [ngClass]="isFileIncluded(f) ? 'highlight' : ''">
              <app-media-files
              [file_url]="f.file_url"
              [filename]="f.filename">
              </app-media-files>
          </div>
      </div>
      
    </div>
     <!---->
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="selected_files" cdkFocusInitial>Finish</button>
</mat-dialog-actions>