<div class="container-fluid create-bg p-4">
  <h1>Create playlist form</h1>
  <mat-stepper class="create-bg" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup" label="Fill out this form">
      <form [formGroup]="firstFormGroup" class="w-25 d-flex flex-column example-form">
        <mat-form-field *ngIf="options?.length > 0" class="example-full-width" appearance="fill">
          <mat-label>Assignee</mat-label>
          <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" placeholder="Select User">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option.name }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Playlist Name</mat-label>
          <input matInput placeholder="Ex. Moms Spaghetti" formControlName="playlist_name">
        </mat-form-field>
        <div>  
          <button mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
      </form>
      
    </mat-step>
    <!--Media Files-->
    <mat-step [stepControl]="secondFormGroup" label="Select media files">
        <div>
          <h1>Playlist Content</h1>
          <button class="mr-1 mb-3" mat-raised-button color="primary" (click)="openDialog()">Select Content</button>
          <button class="mb-3" mat-raised-button color="info" matStepperPrevious>Back</button>
        </div>
            <!---->
        <div class="card secondary-colors bottom-shadows text-white shadow-lg p-3 bg-white">
          <h2 class="text-white">Your Contents</h2>
          <div class="row no-gutters" [sortablejs]="mediaFiles">
              <div class="col-lg-1" *ngFor="let f of mediaFiles">
                  <div class="mx-2">
                    <app-media-files
                      [file_url]="f.file_url"
                      [filename]="f.filename"
                      [mimetype]="f.mimetype">
                    </app-media-files>
                  </div>
              </div>
          </div>
          
        </div>
        <!---->
    </mat-step>
    </mat-stepper>
    <!--Publishing-->
</div>