<div class="playlist-player" *ngIf="playlist_data" [ngClass]="is_single_demo ? 'is-single-demo' : ''">
  <ng-template [ngIf]="current_file_type | image">
    <img [src]="current_assets" alt="">
  </ng-template>
  <ng-template [ngIf]="current_file_type == 'video/mp4'">
    <video [src]="current_assets" (ended)="onVideoEnded()" autoplay [muted]="true"></video>
  </ng-template>
  <ng-template [ngIf]="current_file_type == 'marquee'">
    <app-ticker-demo
      [data]="ticker_data">
    </app-ticker-demo>
  </ng-template>
</div>