<div class="admin-users-page p-4">
    <div class="container-fluid">
        <!-- Title -->
        <div class="row">
            <div class="col-lg-6">
                <h2 class="m-0">Users</h2>
            </div>
            <div class="col-lg-6">
                <button type="button" class="btn btn-primary d-flex button-add bton3">
                    <i class="fas fa-user-times"></i>
                    <p>Delete</p>
                </button>
                <button type="button" class="btn btn-primary d-flex button-add bton2">
                    <i class="fas fa-user-edit"></i>
                    <p>Edit</p>
                </button>
                <a [routerLink]="['/admin/user/add']">
                    <button type="button" class="btn btn-primary d-flex button-add bton1">
                        <i class="fas fa-user-plus"></i>
                        <p>Add</p>
                    </button>
                </a>
                
            </div>
        </div>
        <hr class="mb-4">
    </div>

        <div class="px-5 card text-white shadow-lg p-3 bg-white">
            <div class="row">
                <div class="my-4 input-group justify-content-end">
                    <div class="search-box"> 
                        <input [(ngModel)]="search_key" (keyup)="searchData()" type="search" class="search-txt" placeholder="Search User"/>
                            <i class="fas fa-search" style="color: #555"></i>
                    </div>
                </div>

                <!-- <div class="col-lg-12">
                    <app-users-table
                    [column_title]="table_column_title"
                    [data]="users">
                    </app-users-table>
                </div> -->
                    <app-users-table
                    *ngIf="!searching; else search_result"
                    [column_title]="table_column_title"
                    [data]="users">
                    </app-users-table>
        
                    <ng-template #search_result>
                        <app-users-table
                        [column_title]="table_column_title"
                        [data]="search_results">
                        </app-users-table>
                    </ng-template>

            </div> 
        </div>


</div>