<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <div class="card user-key-info">
                <div class="card-body user-name d-flex">
                    <div class="col-md-2 px-2">
                        <i class="fab fa-keybase fa-5x"></i>
                    </div>
                    <div class="col-md-10">
                        <h1>Ben Johnson</h1>
                        <span><a href="#" style="color: rgb(83, 83, 255)">About</a></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="card user-key-info">
                <div class="card-body d-flex">
                    <div class="col-md-2 px-2"> 
                        <i class="fas fa-key fa-5x"></i>
                    </div>
                    <div class="col-md-10">
                        <h1>Pi Keys</h1>
                        <h4>120</h4>
                    </div>
                </div>
            </div>    
        </div>
    </div>
    
</div>
