<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th *ngFor="let t of column_title" class="text-white">
                {{ t.title }}
            </th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let a of data" class="text-white">
            <td><a [routerLink]="[a._id]">{{ a.playlist_name }}</a></td>
            <td>{{ a.date_created }}</td>
            <td>{{ a.playlist_owner_name }}</td>
            <td>{{ a.action }}</td>
        </tr>
    </tbody>
</table>