<!-- Form Start -->
<form class="signin-form" [formGroup]="login_form" (ngSubmit)="onLoginFormSubmit()">
    <div class="form-group mb-3">
        <label class="label" for="name">Username</label>
        <input type="text" class="form-control" placeholder="Username" formControlName="username" required>
    </div>
  <div class="form-group mb-3">
      <label class="label" for="password">Password</label>
      <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
  </div>
  <div class="form-group">
      <button type="submit" class="form-control btn main-color submit px-3 text-white">Sign In</button>
  </div>
  <div class="form-group d-md-flex">
      <div class="w-50 text-left">
          <label class="checkbox-wrap checkbox-primary mb-0 text-secondary">Remember Me
              <input type="checkbox main-color" checked>
              <span class="checkmark"></span>
          </label>
      </div>
      <div class="w-50 text-md-right">
          <a href="#">Forgot Password</a>
      </div>
  </div>
</form>
<!-- Form End -->